<label for="inputFile" class="form-label"><%= label %></label>

<div id="file-input-wrapper" class="file-input-wrapper border rounded bg-light py-3 flex-fill">
    <img src="/static/image/upload.png" alt="Folder Icon" />
    <p class="mb-2">Drag & Drop or Click to Select File</p>

    <div id="selectedFileWrapper" class="mb-2 fw-bold g-2 d-none">
        <button id="clearFileButton" class="btn btn-outline-danger" aria-label="Remove File">
            &times;
        </button>

        <span id="selectedFile" class="ms-2"></span>
    </div>

    <p class="text-muted small">Only .xls and .xlsx files are accepted.</p>
</div>

<input class="form-control d-none" type="file" id="inputFile" name="inputFile" accept=".xls,.xlsx" />



<script src="/static/js/fileInput.js" type="module"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        initFileInput();
    });
</script>
