<!-- Label -->
<label class="form-label"><%= label %></label>

<!-- Container for drag/drop or click -->
<div class="file-input-wrapper border rounded bg-light py-3 flex-fill">
    <img src="/assets/images/upload.png" alt="Folder Icon" />
    <p class="mb-2">Drag & Drop or Click to Select File</p>

    <!-- Selected file display -->
    <div class="selected-file-wrapper mb-2 fw-bold g-2 d-none">
        <button class="clear-file-button btn btn-outline-danger" aria-label="Remove File">&times;</button>
        <span class="selected-file-name ms-2"></span>
    </div>

    <!-- Note about allowed file formats -->
    <p class="text-muted small">Only .xls and .xlsx files are accepted.</p>
</div>

<!-- Hidden file input -->
<input class="form-control d-none file-input" type="file" accept=".xls,.xlsx" required />


<script src="/js/fileInput.js" type="module"></script>
<script>
    // Initialize file input behavior when the DOM is ready
    document.addEventListener("DOMContentLoaded", () => {
        initFileInput();
    });
</script>