<!-- Page header -->
<header class="container-fluid py-3 text-center">
    <!-- Logo and site title -->
    <div class="d-flex justify-content-center align-items-center mb-3">
        <img src="/assets/images/tackle_box.png" alt="Tackle Box" style="height: 4em;" class="me-2" />
        <h1 class="m-0 display-4">Flybox</h1>
    </div>

    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light rounded shadow-sm px-3">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/client/static">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shopReel">ShopReel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fishTales">FishTales</a>
            </li>

            <!-- Dropdown for Site Scout, Docs & any future page -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="extrasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                </a>
                <ul class="dropdown-menu" aria-labelledby="extrasDropdown">
                    <li><a class="dropdown-item" href="/siteScout">SiteScout</a></li>
                    <li><a class="dropdown-item" href="/docs">Docs</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>

<script src="/js/navbar.js" type="module"></script>