<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/public/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link rel="icon" href="/static/image/fishing_pole.ico" type="image/x-icon" />
</head>

<body>
<%- include('../partials/header.ejs') %>


<main>
    <%- body %>
</main>

<%- include('../partials/footer.ejs') %>

</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const tooltipTriggerList = document.querySelectorAll('[title]');
        tooltipTriggerList.forEach(el => new bootstrap.Tooltip(el));

        const searchForm = document.getElementById("searchForm");
        const fileInputEl = document.getElementById("inputFile");

        searchForm.addEventListener("submit", function (e) {
            const file = fileInputEl.files[0];
            const apiKey = document.getElementById("apiKey").value.trim();
            const query = document.getElementById("query").value.trim();
            const lat = document.getElementById("latitude").value.trim();
            const lng = document.getElementById("longitude").value.trim();
            const maxResults = document.getElementById("maxResults").value.trim();

            const manualTabActive = document.getElementById("manualInputs").classList.contains("show");
            const hasManualInputs = apiKey && query && lat && lng && maxResults;

            if (!manualTabActive && !file) {
                e.preventDefault();
                alert("Please upload an Excel file.");
            } else if (manualTabActive && !hasManualInputs) {
                e.preventDefault();
                alert("Please fill in all fields.");
            }
        });
    });
</script>