<main class="container text-center py-0">
    <h1 class="display-2 mb-3"><%= status_code %></h1>
    <h1 class="display-6"><%= heading || "Gone Fishing..." %></h1>
    <p class="lead"><%= message || "Something went downstream. Try casting again later." %></p>

    <div class="d-flex justify-content-center my-4">
        <div class="tenor-gif-embed"
             data-postid="13478011"
             data-share-method="host"
             data-aspect-ratio="0.769231"
             data-width="300px">
            <a href="https://tenor.com/view/calvin-and-hobbes-fishing-bite-wahhh-gif-13478011">
                Calvin And Hobbes Fishing GIF
            </a> from
            <a href="https://tenor.com/search/calvin+and+hobbes-gifs">Calvin And Hobbes GIFs</a>
        </div>
    </div>
    <script async src="https://tenor.com/embed.js"></script>

    <a href="/" class="btn btn-primary btn-lg px-4">Cast a Line Back Home</a>
</main>
