<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>The Rescue River Tacklebox</title>
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="icon" href="/images/fishing_pole.ico" type="image/x-icon" />
</head>
<body>
<h1>
    <img src="/images/tackle_box.png" alt="Tackle Box" style="height: 1.5em; vertical-align: middle;" />
    The Rescue River Tacklebox
</h1>
<form method="POST" action="/run">
    <button type="submit">Run Script</button>
</form>
</body>
</html>
