<!-- Hero Section -->
<section class="position-relative text-center py-4 mb-5">
    <div class="container position-relative text-primary">
        <h2 class="display-6 fw-bold mb-3">Discover Fly Fishing Shops & Reports</h2>
        <p class="lead mb-0">Access up-to-date data and insights to enhance your fly-fishing adventures.</p>
    </div>
</section>

<!-- Tools Section -->
<section id="tools" class="container">
    <div class="row g-4 text-center">
        <!-- Shops Scraper -->
        <%- include('partials/card', {
            slim: false,
            icon: "ðŸŽ£",
            title: "ShopReel",
            description: "Find fly-fishing shops near you!",
            link: "/shopReel",
            buttonText: "Cast for Details"
        }) %>

        <!-- Reports Scraper -->
        <%- include('partials/card', {
            slim: false,
            icon: "ðŸŸ",
            title: "FishTales",
            description: "Get the latest fly-fishing reports for your area",
            link: "/fishTales",
            buttonText: "Catch the Latest"
        }) %>
    </div>

    <!-- Site Scout -->
    <%- include('partials/card', {
        slim: true,
        icon: "ðŸ—ºï¸",
        title: "SiteScout",
        description: "Discover new fly-fishing sites.",
        link: "/siteScout",
        buttonText: "Check your sites"
    }) %>

    <!-- Docs -->
    <%- include('partials/card', {
        slim: true,
        icon: "ðŸ“š",
        title: "Docs",
        description: "Learn how to use Flybox tools.",
        link: "/docs",
        buttonText: "Read"
    }) %>

</section>


<section class="text-primary text-center mt-5 pt-5">
    <div class="container">
        <h3>Connect Shops & Reports Effortlessly</h3>
        <p>Flybox simplifies your fly-fishing planning by combining shop locations and the latest reports in one place.</p>
    </div>
</section>
