// static/scss/_base.scss
@use "theme";

body {
  background-color: theme.$accent-color;
  color: theme.$primary-color;
  font-family: sans-serif;
  margin: 2rem;
  line-height: 1.6;
}

a {
  color: theme.$primary-color;

  &:hover {
    color: theme.$accent-color;
  }
}
